<div class="about">
	
	The best way to remember tonight's dream, is to have written down yesterdays. Actively thinking about your dreams in the few fleeting hours after you awake, is the only real way to build rapport with your inner subconscious dreamer. Sometimes, you remember a dream well enough to tell someone else about it. The absurdity of the average dream can conjure up awe, excitement, and even laughter, when recounted to a friend. That's part of why I created Lucidia. It should be easy to write down your dreams, and share them with your friends. The majority of the motivation for this site was to learn Ruby on Rails (used for the backend), and Foundation (which I made hardly any use of).
	<br/>	<br/>


	Oh yea, you're probably wondering about the dude in the bottom right of the screen. This is Zhuangzi, a 4th century Chinese Philosopher and realist. His eponymous book (a collection of short tales that provide both color and philosophical scrutiny to every day interactions), has a wonderful passage that outlines the duality between waking and dreaming life.

	<br/>	<br/>


	"Once upon a time, I, Chuang Chou, dreamt I was a butterfly, fluttering hither and thither, to all intents and purposes a butterfly. I was conscious only of my happiness as a butterfly, unaware that I was Chou. Soon I awaked, and there I was, veritably myself again. Now I do not know whether I was then a man dreaming I was a butterfly, or whether I am now a butterfly, dreaming I am a man. Between a man and a butterfly there is necessarily a distinction. The transition is called the transformation of material things."
	
	<br/>	<br/>

	If you're curious, the source code for the site can be found on <a href="https://github.com/doctorOb/lucidia">my github</a>.
</div>
