<div id="editor">
	Just start typing...
</div>


<div class="share tip">
	Click the menu button in the top left to share this dream.
</div>

<div class="share link">
	<label>Share this dream with friends</label>
	<input type="text" val=""/>
</div>

<div class="share intro">
	Lucidia lets you write down your dreams, and share them with friends. You can click the menu button in the top left corner for more info.
</div>